body {
  width: 100%;
  font-family: 'Comfortaa';
  font-size: 18px;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
h2 {
  position: relative;
  font-family: 'Pacifico';  
  font-size: 70px;
  text-align: center;
  color: #2f3234;
}
.span-document {
  border-bottom: 2px solid #f9b43b;
}
.document-link {
  font-weight: 700;
  font-size: 20px;
  color: #d39c3a;
  border-bottom: 2px solid transparent;
  transition: all .3s linear;

  &_teacher {
    font-size: 14px;
  }

  &:hover {
    border-bottom: 2px solid #d39c3a;
  }
}